/*
primary: EDF1D6
secundary: 9DC08B
light: 609966
info: 40513B
*/
*{
    margin: auto auto;
}
.bg-primary{
    background-color: #EDF1D6;
}

.text-light{
    color: #609966;
}

.text-center{
    text-align: center;
}
.text-right{
    text-align: right;
}
.text-secondary{
    color: #9Dc08B;
}
.width-100{
    width: 100px;
}
.bg-info{
    background-color: #40523b;
}
.text-primary{
    color: #EDF1D6;
}
.text-white{
    color: white;
}
.bg-secondary{
    background-color: #9Dc08B;
}