body{
    background-image: url(../IMAGES/269.jpg);
    background-position: 50%;
    background-size: 30%;
    color: rgb(235, 222, 162);
    background-color: rgb(16, 24, 31);
}
h1{
    text-align: center;
    font-family: 'Tilt Prism', cursive;
    font-size: 300%;

    text-shadow: 3px 3px 0 black, 3px 3px 2px black;
}
h2{
    text-align: center;
    font-family: 'Raleway', sans-serif;

    text-shadow: 3px 3px 0 black, 3px 3px 2px black;
}
table{
    font-family: 'Raleway', sans-serif;
    margin: auto;
    background-color: rgb(30, 16, 24);

    padding: 2px;
}
img{
    width:600px;
}