
body *{
    margin: 0 auto;
    padding: 3px;

    background-color: rgba(53, 90, 114, 0.3);

    font-family: 'Sofia Sans Semi Condensed', sans-serif;
    color: white;
    text-align: center;
}
body{
    background-color: rgb(23, 23, 27);
    margin: 0;
    padding: 0;
}


b{
    text-shadow: 1px 1px 5px greenyellow;
}

header{
    margin: 0;
    padding: 0;

    width: 100%;

    background-image: url(../IMAGES/Patron_Pagina.png);
    background-size: 25%;

}
h1{
    margin: 5px;
    padding: 8px;

    font-family: 'Rubik Iso', cursive;
    font-size: 70px;
    color: rgb(219, 219, 219);
    text-shadow:3px 3px 0 rgb(22, 255, 1, 0.3),3px 3px 10px rgb(181, 255, 111, 0.5),
                -3px -3px 0 rgba(0, 255, 221, 0.3), -3px -3px 10px rgb(75, 234, 255, 0.5);
    background: none;
} 
h2{
    font-size: 30px;
    margin: 5px;
    padding: 6px;

    font-family: 'Rubik Iso', cursive;
    color: rgb(255, 255, 255);
    text-shadow: 2.5px 2.5px 0 rgb(130, 199, 91, 0.3), 2.5px 2.5px 5px rgb(181, 255, 111, 0.7),
                -2.5px -2.5px 0 rgb(76, 184, 169, 0.3), -2.5px -2.5px 5px rgb(75, 234, 255, 0.7);

    background: none;
}

h3{
    font-size: 20px;
    margin: 2px 0 ;
    padding: 6px;

    font-family: 'Rubik Iso', cursive;
    color: rgb(90, 255, 75);
    text-shadow: 1px 1px 10px rgb(66, 63, 238);

    
}
hr{
    width: 50%;
    padding: 0;
    border: 1px solid greenyellow;
    box-shadow: 2.5px 2.5px 0 rgb(130, 199, 91), 2.5px 2.5px 5px rgb(181, 255, 111),
                -2.5px -2.5px 0 rgb(76, 184, 169), -2.5px -2.5px 5px rgb(75, 234, 255);
}



nav{
    background-color: rgb(24, 27, 32);
    
    box-shadow: 0 3px 0 rgb(20, 27, 41);

    border: none;
    padding: 0 10px;
    display: flex;
    justify-content: center;

    width: 90%;
    
    
    position: fixed;
    left: 50%;
    top: 0 vw;
    transform: translate(-50%);
}
nav a{
    cursor: pointer;
    padding: 8px;
    width: 100%;

    text-decoration: none;
    
    box-shadow: 0 3px 0 rgb(20, 27, 41);
    background-color: rgb(0, 0, 0);
    transition: all 0.2s;
}
nav a:hover{
    
    text-shadow: 0 0 2px rgb(249, 255, 215);
    background-color: rgb(39, 126, 58);
    box-shadow: 0 3px 0 rgb(85, 189, 85);
}


main{
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    margin-top: 30px;
    padding: 0;
}

main aside{
    width: 20%;
    margin: 10px 5px;
}
main aside a button{
    width: 90%;
    height:50px;

    cursor: pointer;
    margin-top: 10px;
    text-decoration: none;

    background-color: rgb(21, 48, 30);
    transition: 0.3s all;
}
main aside a button:hover{
    transform: scale(1.1);

    box-shadow: 0 0 3px rgb(215, 255, 166);

    background-color: rgb(30, 95, 53);
}

main article{ /*Contenido principal*/
        width: 80%;
        margin: 10px 5px;
    }
article p{
        padding: 10px;
    }
section{
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
        
        padding: 10px;
        background-color: rgba(11, 51, 13, 0.5);
        box-shadow: 4px 4px 0 rgb(13, 21, 46), 8px 8px 0 rgb(0, 0, 0);
    }


footer{
    position: relative;
    margin-top: 300px;
    clear: both;
    padding: 30px;
}




button{
    cursor: pointer;
    width: 100px;
    margin-top: 10px;
    border: 5px double rgb(188, 219, 136);
    border-radius: 6px;
    background-color: rgba(49, 167, 151, 0.5);
    box-shadow: rgb(7, 24, 46) 3px 6px;
    transition: all 0.2s;
    
}
button:hover{
    transform: scale(1.1);
    border: 5px double rgb(245, 255, 227);
    box-shadow: rgb(102, 255, 102) 0 0 6px;
    transition: all 0.2s;
}


a{
    border: 0;
    padding: 0;
    margin: 0;
}

/*PIEDRA PAPEL TIJERA*/
.opciones{
    display: flex;
    justify-content: center;
    margin: 0 10%;
}
.IMAGENPPT{
    border: none;
    background: none;
}
.IMAGENPPT img{
    width: 80%;
    cursor: pointer;
    transition: all 0.05s ease-in-out;
}

.IMAGENPPT img:hover{
    box-shadow: 0 0 20px rgba(85, 245, 106, 0.8);
    transform: scale(1.1);
    border: double 4px rgb(58, 218, 103);
}

.BOTON{
    text-align: center;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 300px;
}
.BOTON *{
    border: none;
    background: none;
}

.Resultados{
    margin: 0 10%;
}
.ganador{
    padding: 20px;
    font-family: 'Rubik Iso', cursive;
    font-size: 40px;
    color: rgb(58, 218, 103);
    text-shadow: 0 0 10px rgb(75, 154, 23);
}
/* div {
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    transition: all 0.1s ease-in-out;
  }
  
  div:hover {
    transform: scale(1.1);
  } */


  .articleGrid{
    display: grid;
    grid-template-columns: 50% 50%;
  }