body *{
    margin: 0 auto;
    padding: 3px;

    background-color: rgba(53, 90, 114, 0.3);

    font-family: 'Sofia Sans Semi Condensed', sans-serif;
    color: white;
    text-align: center;
}
body{
    background-color: rgb(6, 6, 7);
    margin: 0;
    padding: 0;
}


b{
    text-shadow: 1px 1px 5px greenyellow;
}

header{
    margin: 0;
    padding: 0;

    width: 110%;

    background-image: url(../IMAGES/Patron_Pagina.png);
    background-size: 25%;

}
h1{
    margin: 5px;
    padding: 8px;

    font-family: 'Rubik Iso', cursive;
    font-size: 70px;
    color: rgb(251, 255, 240);
    text-shadow:3px 3px 0 rgb(21, 255, 0),3px 3px 10px rgb(181, 255, 111),
                -3px -3px 0 rgb(0, 255, 221), -3px -3px 10px rgb(75, 234, 255);
    background: none;
} 
h2{
    font-size: 30px;
    margin: 5px;
    padding: 6px;

    font-family: 'Rubik Iso', cursive;
    color: rgb(255, 255, 255);
    text-shadow: 2.5px 2.5px 0 rgb(130, 199, 91), 2.5px 2.5px 5px rgb(181, 255, 111),
                -2.5px -2.5px 0 rgb(76, 184, 169), -2.5px -2.5px 5px rgb(75, 234, 255);

    background: none;
}

h3{
    font-size: 20px;
    margin: 2px 0 ;
    padding: 6px;

    font-family: 'Rubik Iso', cursive;
    color: rgb(90, 255, 75);
    text-shadow: 1px 1px 10px rgb(66, 63, 238);

    
}
hr{
    width: 50%;
    padding: 0;
    border: 1px solid greenyellow;
    box-shadow: 2.5px 2.5px 0 rgb(130, 199, 91), 2.5px 2.5px 5px rgb(181, 255, 111),
                -2.5px -2.5px 0 rgb(76, 184, 169), -2.5px -2.5px 5px rgb(75, 234, 255);
}



nav{
    background-color: rgb(0, 0, 0, 0.7);

    border: none;
    padding: 0;
    display: flex;
    justify-content: center;

    width: 100%;

    box-shadow: 0 3px 0 rgb(20, 27, 41);
    
    
    position: fixed;
    left: 50%;
    top: 0 vw;
    transform: translate(-50%);
}
nav div{

    box-shadow: 3px 3px 0  rgb(20, 38, 39);
    
    cursor: pointer;
    margin: 10px 5px;
    padding: 8px;
    width: 20%;
    
    background-color: rgb(20, 73, 51);
}



main{
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    margin-top: 30px;
    padding: 0;
}

main aside{
    width: 20%;
    margin: 1%;
}
main aside div{
    cursor: pointer;
    padding: 10px;
    margin-top: 10px;

    background-color: rgb(26, 68, 45);
}


main article{ /*Contenido principal*/
        width: 80%;
        margin: 1%;

    }
article p{
        padding: 10px;
    }
section{
        margin-top: 30px;
        padding: 10px;
        background-color: rgba(11, 51, 13, 0.5);
    }


footer{
    position: relative;
    margin-top: 300px;
    clear: both;
    padding: 30px;
}




button{
    cursor: pointer;
    width: 100px;
    margin-top: 10px;
    padding: 10px;
    border: 5px double rgb(188, 219, 136);
    border-radius: 6px;
    background-color: rgba(90, 49, 167, 0.5);
    box-shadow: rgb(25, 7, 46) 3px 6px;
}

a{
    border: 0;
    padding: 0;
    margin: 0;
}

/*PIEDRA PAPEL TIJERA*/
.opciones{
    display: flex;
    justify-content: center;
    margin: 0 10%;
}
.IMAGENPPT{
    border: none;
    background: none;
}
.IMAGENPPT img{
    width: 80%;
    cursor: pointer;
    transition: all 0.05s ease-in-out;
}

.IMAGENPPT img:hover{
    box-shadow: 0 0 20px rgba(85, 245, 106, 0.8);
    transform: scale(1.1);
    border: double 4px rgb(58, 218, 103);
}

.BOTON{
    text-align: center;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 300px;
}
.BOTON *{
    border: none;
    background: none;
}

.Resultados{
    margin: 0 10%;
}
.ganador{
    padding: 20px;
    font-family: 'Rubik Iso', cursive;
    font-size: 40px;
    color: rgb(58, 218, 103);
    text-shadow: 0 0 10px rgb(75, 154, 23);
}
/* div {
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    transition: all 0.1s ease-in-out;
  }
  
  div:hover {
    transform: scale(1.1);
  } */