body, body *{
    border: 3px solid rgb(226, 255, 99);

    background-color: black;
    color: white;
    margin: 3px auto;
    text-align: center;
    width: 80%;
}
.grid{
    background-color: rgba(92, 30, 92, 0.685);
    
    display: grid;
    grid-template-columns: 30% 30% 40%;
    gap: 10px;
    padding: 10px;
}
.comando{
    background-color: rgba(92, 30, 92, 0.685);

    padding: 30px;
    grid-column-start: 1;
    border: rgb(46, 102, 255) solid 3px;
}
.Descripcion{
    background-color: rgba(92, 30, 92, 0.685);
    grid-template-columns: 2;
    border: rgb(46, 102, 255) solid 3px;

    padding: 30px;
}
.img{
    background-color: rgba(47, 30, 92, 0.685);
    grid-template-columns: 2;
    border: rgb(46, 255, 157) solid 3px;

    padding: 30px;
}